.idea
.DS_Store
.ipynb_checkpoints
tex-sl/*.ipynb.tex
tex-sl/*.ipynb_files
tex-en/*.ipynb.tex
tex-en/*.ipynb_files

tex-sl/PR.aux
tex-sl/PR.bbl
tex-sl/PR.blg
tex-sl/PR.log
tex-sl/PR.out
tex-sl/PR.toc

tex-en/DM.aux
tex-en/DM.bbl
tex-en/DM.blg
tex-en/DM.log
tex-en/DM.out
tex-en/DM.toc
